* {
  padding: 0px;
  margin: 0px;
  box-shadow: none;
}

body {
  background-color: white;
  align-items: center;
 
  padding: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.fcard {
  background-color: hsl(31, 77%, 52%);
  width: 260px;
  /* text-align: center; */
  height: 400px;
  padding: 45px;
}

.fcard img {
  width: auto;
  height: auto;
}

.fcard h2 {
  color: hsl(0, 0%, 95%);
  margin-top: 20px;
  font-size: 40px;
}

.fcard p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 20px;
  line-height: 35px;
  margin-top: 20px;
  font-family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca);
}

.fcard button {
  margin-top: 40px;
  /* height: 40px; */
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
  box-sizing: border-box;
}
.scard {
  width: 260px;
  background-color: hsl(184, 100%, 22%);
  /* text-align: center; */
  height: 400px;
  padding: 45px;
}

.scard img {
  width: auto;
  height: auto;

}

.scard h2 {
  color: hsl(0, 0%, 95%);
  margin-top: 20px;
  font-size: 40px;
}

.scard p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 20px;
  margin-top: 20px;
  line-height: 35px;
  font-family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca);
}

.scard button {
  margin-top: 40px;
  /* height: 40px; */
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
  box-sizing: border-box;
}


.tcard {
  width: 260px;
  background-color: hsl(179, 100%, 13%);
  height: 400px;
  padding: 45px;
}

.tcard img {
  width: auto;
  height: auto;
}

.tcard h2 {
  color: hsl(0, 0%, 95%);
  margin-top: 20px;
  font-size: 40px;
}

.tcard p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 20px;
  line-height: 35px;
  margin-top: 20px;
  font-family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca);
}

.tcard button {
  margin-top: 40px;
  /* height: 40px; */
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
  box-sizing: border-box;
}
